@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ff6b00;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff8533;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Default font for body text */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
}

/* Apply Press Start 2P to headings and specific elements */
h1, h2, h3, h4, h5, h6,
button,
.pixel-font {
  font-family: "Press Start 2P", cursive;
}

/* Add a utility class for normal text */
.normal-text {
  font-family: var(--font-geist-sans);
}
